.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 1rem 2rem #ccc;
    margin: auto;
    padding: 1rem 0;
}